body{
    background-color: rgb(208, 245, 245);
}
.submit-div{
    background-color: white;
    border: 4px double grey;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px grey;
    width:30%;
    margin-left:35%;
    margin-top: 10%;
    height: 100px;
}